<?xml version="1.0" encoding="utf-8"?>

<widget appId="11104496" channelCode="000" height="480" pid="" sreensize="4.5" version="05.00.0012" viewmode="application" widgetId="" width="320"> 
  <name>易客CRM</name>  
  <description/>  
  <author email=""></author>  
  <icon src="icon.png"/>  
  <license href=""/>  
  <content encoding="utf-8" src="index.html"/>  
  <updateurl/>  
  <logserverip/>  
  <showmyspace>false</showmyspace>  
  <obfuscation>false</obfuscation>  
  <bgcolor>#fefefe</bgcolor>  
  <orientation>1</orientation> 
</widget>
