A
{
    CURSOR: hand
}
A:link
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 9pt;
    COLOR: red;
    TEXT-DECORATION: underline
}
A.a02
{
    COLOR: #ffffff
}
A.a02:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.a02:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.a02:hover
{
    COLOR: aqua;
    TEXT-DECORATION: none
}
.input1
{
    BORDER-RIGHT: blue 1px solid;
    BORDER-TOP: blue 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: blue 1px solid;
    BORDER-BOTTOM: blue 1px solid
}
.input2
{
    BORDER-RIGHT: blue 1px solid;
    BORDER-TOP: blue 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: blue 1px solid;
    BORDER-BOTTOM: blue 1px solid;
    TEXT-ALIGN: right
}
BODY
{
    FONT-SIZE: 9pt;
}
.toppane-body
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    OVERFLOW: auto;
    WIDTH: 100%;
    PADDING-TOP: 3px;
    HEIGHT: 100%
}
TD
{
    FONT-SIZE: 9pt
}
